.new_div{
    /* border: 2px solid  red; */
    display: flex;
    /* width: 150px; */
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.displayed_prodcut_price_btn{
    display: flex;
/* height: 30px; */
padding: 6px;
justify-content: center;
align-items: center;
/* gap: 10px; */
border: none;
box-sizing: border-box;
border-radius: 15px;
/* color: red; */
font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';

/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
font-weight: 900;
background: var(--white-white, #FFF);
/* border: 3px solid red; */
color:  rgba(38, 51, 77, 0.4);
/* Shadows/Gray Blue 30/3%/5b */
box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.4);
}
.price{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
color:  rgba(38, 51, 77, 0.8);

}


